.sub-menu {
  display: flex;
  align-items: center;
}
.sub-menu a {
  margin-left: 4px;
  align-self: center;
}

.border {
  border: 1px solid;
  border-radius: 6px;
  padding: 1em;
}

.center {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.add-new-button {
  background-color: rgb(41, 170, 41);
  border: none;
  border-radius: 6px;
  padding: 1em ;
  color: whitesmoke;
  box-shadow: 0 3px 2.5px rgba(0, 0, 0, .25);
  margin: 1em auto;
}
.submit-button {
  background-color: rgb(250, 209, 24);
  border: none;
  border-radius: 6px;
  padding: 1em ;
  color: black;
  box-shadow: 0 3px 2.5px rgba(0, 0, 0, .25);
  margin: 1em auto;
}

.invis-link {
  text-decoration: none;
}
